{% extends 'main/layout.html'%}

{% block title %}Disease{% endblock %}

{% block content %}
{% load static %}
    <div class="first">
        <div class="intro">
            <h2>Discoveries</h2>
            <button type="button" class="btn btn-light btn_o" data-bs-toggle="modal" data-bs-target="#modal1">Add</button>
        </div>
        <table class="table table-light table-striped table-hover">
          <thead>
            <tr>
              <th scope="col" class="center">#</th>
              <th scope="col">Disease code</th>
              <th scope="col">Country Name</th>
              <th scope="col">Discovery date</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

          {% for tuple in query %}
            <tr>
              <td class="center">{{forloop.counter}}</td>
              <td>{{tuple.disease_code}}</td>
              <td>{{tuple.cname}}</td>
              <td>{{tuple.first_enc_date}}</td>
              <td>
                  <a href=""><img src="{% static 'main/img/pencil-square.svg' %}" alt="edit" class="opacity"></a>
              </td>
              <td>
                  <a href=""><img src="{% static 'main/img/x-square.svg' %}" alt="delete" class="opacity"></a>
              </td>
            </tr>

          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter discovery information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add_disease/" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  <label for="code">Disease code</label>
                  <input name="code" type="text" class="form-control" id="code" required>
                </div>
                <div class="form-group">
                  <label for="cname">Country name</label>
                  <input name="cname" type="text" class="form-control" id="cname"  required>
                </div>
                <div class="form-group">
                  <label for="date">Discovery date</label>
                  <input name="date" type="date" class="form-control" id="date"  required>
                </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-light">Add tuple</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
{% endblock %}